* {
  font-size: 14px;
}

.tbl-h1-row-height {
  height: 58px;
}

.tbl-h1-height {
  margin-top: 7px;
  margin-bottom: 3px;
  height: 30px;
}

.tbl-h2-height {
  height: 41px;
}

.glyphicon {
  line-height: inherit;
}