* {
  font-size: 14px;
}

.tbl-h1-row-height {
  height: 58px;
}

.tbl-h1-height {
  margin-top: 7px;
  margin-bottom: 3px;
  height: 30px;
}

.tbl-h2-height {
  height: 41px;
}

.glyphicon {
  line-height: inherit;
}
.ttv-container {
  margin: 60px;
}

.ttv-table-row-background-color {
  background-color: darkgray;
}

.ttv-inline-block {
  display: inline-block;
}

.ttv-btn-left {
  margin-right: 3px;
  border-radius: 2px;
}

input {
  border: none;
  background: inherit;
}

.ttv-btn-right {
  margin-right: 0px;
  border-radius: 2px;
}

td input:focus,
td textarea:focus {
  width: 90%;
  background: #fff;
  border: 1px solid #555;
  box-shadow: 0 0 3px #aaa;
}

td input,
td textarea {
  /* add this to the already existing style */
  transition: width .25s;
  width: 40%;
  cursor: pointer;
}