
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// adding Jeffery Ways: https://github.com/laracasts/PHP-Vars-To-Js-Transformer.
// change the font size on everything, so I added the below.
* {
  font-size: 14px;
}

.tbl-h1-row-height {
  height: 58px;
}

.tbl-h1-height {
  margin-top: 7px;
  margin-bottom: 3px;
  height: 30px;
}

.tbl-h2-height {
  height: 41px;
}

// override the css in https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css
// my glyphicons were getting chopped off at the top.
.glyphicon {
  line-height: inherit;
}


//// task view css.
//.table-header-colors {
//  background-color: darkgray;
//}
//
//.table-curved {
//  border-collapse: separate;
//}
//.table-curved {
//  border: solid #ccc 1px;
//  border-radius: 6px;
//  border-left:0px;
//}
//.table-curved td, .table-curved th {
//  border-left: 1px solid #ccc;
//  border-top: 1px solid #ccc;
//}
//.table-curved th {
//  border-top: none;
//}
//.table-curved th:first-child {
//  border-radius: 6px 0 0 0;
//}
//.table-curved th:last-child {
//  border-radius: 0 6px 0 0;
//}
//.table-curved th:only-child{
//  border-radius: 6px 6px 0 0;
//}
//.table-curved tr:last-child td:first-child {
//  border-radius: 0 0 0 6px;
//}
//.table-curved tr:last-child td:last-child {
//  border-radius: 0 0 6px 0;
//}